<h1> Name of Store is: <%= @store.name %></h1>
<p>Click below to shoes sold at the store</p>
<form action="/store/<%= @store.id %>/edit/shoes" method="get">
    <input name="the_store_id" type="hidden" value="<%=  @store.id %>">
    <button type="submit" class="btn btn-info">Click Here to Edit Shoes sold in Store</button>
</form>
<br>
<p>Click below to edit the store name</p>
<form action="/store/<%= @store.id %>/edit" method="get">
    <input name="the_store_id" type="hidden" value="<%=  @store.id %>">
    <button type="submit" class="btn btn-warning">Click Here to Edit Store Name</button>
</form>
<br>
<p>Click below to delete the store</p>
<form action="/store/<%= @store.id %>/delete" method="post">
    <input name="the_store_id" type="hidden" value="<%=  @store.id %>">
    <button type="submit" class="btn btn-danger">Delete Store</button>
</form>
